.Title {
    font-family: 'Titilliam Web', sans-serif;
    color: #444;
    padding: 1em;
    border-bottom: 1px solid rgba(180, 180, 180, 0.6);
    margin: 0 1em 0.5em 1em;
}

.Title-logo {
    font-size: 22px;
    color: rgba(68, 158, 205, 0.8);
    text-shadow: 1px 1px 1px rgba(30,30,30, 0.4);
    font-weight: bold;
    padding: 5px;
}

.Title-name-and-album {
    float: right;
    margin-right: 2em;
    font-size: 22px;
    padding:5px 10px 5px 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.Title-name-and-album:hover {
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*background-color: rgba(0, 0, 0 ,0.1);*/
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px 1px rgba(55, 55, 55, 0.2); 
}

a:link {
    text-decoration: none;
    color: #555;
}
a:visited {
    text-decoration: none;
    color: #555;
}
a:hover {
    text-decoration: none;
    color: #555; 
}
a:active {
    color: #555;
    text-decoration: none;
}